/_site/*
assets/js/.DS_Store
assets/preload/.DS_Store
assets/.DS_Store
assets/css/.DS_Store
.DS_Store
*.lock
course-results/2020/Pascal-Lorenz/ALL.HAN.maf.r2_windowless.ld
course-results/2020/Pascal-Lorenz/ALL.AFR.maf.r2.ld
course-results/2020/Pascal-Lorenz/ALL.AFR.maf.r2_windowless.ld
course-results/2020/Pascal-Lorenz/ALL.HAN.maf.r2.ld
