@font-face { font-family: 'Noto Sans'; font-weight: 400; font-style: normal; src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot"); src: url("../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix") format("embedded-opentype"), local("Noto Sans"), local("Noto-Sans-regular"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2") format("woff2"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.woff") format("woff"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf") format("truetype"), url("../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans") format("svg"); }
@font-face { font-family: 'Noto Sans'; font-weight: 700; font-style: normal; src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot"); src: url("../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix") format("embedded-opentype"), local("Noto Sans Bold"), local("Noto-Sans-700"), url("../fonts/Noto-Sans-700/Noto-Sans-700.woff2") format("woff2"), url("../fonts/Noto-Sans-700/Noto-Sans-700.woff") format("woff"), url("../fonts/Noto-Sans-700/Noto-Sans-700.ttf") format("truetype"), url("../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans") format("svg"); }
@font-face { font-family: 'Noto Sans'; font-weight: 400; font-style: italic; src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot"); src: url("../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix") format("embedded-opentype"), local("Noto Sans Italic"), local("Noto-Sans-italic"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2") format("woff2"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.woff") format("woff"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf") format("truetype"), url("../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans") format("svg"); }
@font-face { font-family: 'Noto Sans'; font-weight: 700; font-style: italic; src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot"); src: url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix") format("embedded-opentype"), local("Noto Sans Bold Italic"), local("Noto-Sans-700italic"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2") format("woff2"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff") format("woff"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf") format("truetype"), url("../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans") format("svg"); }

/* 
	This color is used for the "head band" and text links.
	It is recommended to make adjustments in the site_style.css file.
*/

:root {
  --site-color: rgb(96,96,96);
}

body { background-color: #fff; padding: 15px; font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #727272; font-weight: 400; }

h1,h2,h3 { margin-top: 16px; margin-bottom: 12px; }
h4,h5,h6 { margin-top: 12px; margin-bottom: 8px; }

p, ul, ol, table, pre, dl { margin: 0 0 1em; }
li > ul { margin: 0; }
li > ol { margin: 0; }
h1, h2, h3 { line-height: 1.1; }

h1 { color: #222; font-size: 28px; }
h2 { color: #393939; }
h3,h4,h5,h6 { color: #494949; }

header h4  {
  margin-top: 0px;
  margin-bottom: 0px;
  vertical-align: bottom;
}

header h5  {
  margin-top: 12px;
  margin-bottom: -5x;
  color: #ccc;
}

#headband {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  clear: both;
  background-color: var(--site-color);
}

#logo_topleft {
  float: left;
  margin-top: 10px;
  margin-left: 12px;
}

#logo_topright {
  float: right;
  margin-top: 10px;
  margin-right: 12px;
  width: 36px;
}

#nav_r {
	position: absolute;
	top: 72px;
	right: 15px;
	width: 42px;
	display: block;
	clear: none;
}

#pageediticn {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

#listpage_headline_wrapper {
	width: 100%;
}

#listpage_headline_wrapper:after {
  clear: both;
}

#listpage_sortmarker {
	width: 10%;
	padding-top: 10px;
	float: right;
	font-size: 0.8em;
	text-align: right;
}

#listpage_headline {
	width: 85%;
	float: left;
	clear: none;
}

a { text-decoration: none; color: var(--site-color); }
a:hover, a:focus {  text-decoration: underline ; }
a small { font-size: 11px; margin-top: -0.3em; display: block; }

blockquote { border-left: 1px solid #e5e5e5; margin: 0; padding: 0 0 0 20px; font-style: italic; }

div {
  display: block;
  clear: both;
}

.sublink {
	display: block;
  padding-left: 8px;
  font-size: 0.9em;
  font-weight: 400;
}

code, pre { font-family: Monaco, Lucida Console, Terminal, Consolas, Courier New, monospace; color: #33c; }
pre { display: block; padding: 8px 15px; white-space: pre-wrap; tab-size: 2; background: #f8f8f8; border-radius: 5px; border: 1px solid #e5e5e5; overflow-x: auto; font-size: 0.8em; }

table { width: 100%; border-collapse: collapse; }

/* tr:nth-child(even) { background-color: #f3f3f3; } */
th,td { text-align: left; padding: 5px 10px; border-bottom: 1px solid #e5e5e5; }
th { color: #444; background-color: #f3f3f3; }
td ul { padding: 0px; list-style: inside; }
td li { margin-left: 0px; padding: 0px; }

dt { color: #444; font-weight: 700; }
li { margin-top: 0px; margin-bottom: 2px; }

img { max-width: 100%; }

.strong { color: #222; font-weight: 700; }
.small { font-size: 11px; }
.tiny { font-size: 9px; color: #ccc; }
.tiny a  { color: #cde;  }
.tiny a:hover { color: #cdf; }

.pagestamp {
  margin-top: 25px;
  color: #ccc;
  font-weight: 300;
  font-size: 10px;
}

.pagestamp a {
  color: #bcd;
}

hr { border: 0; background: #e5e5e5; height: 1px; margin: 0 0 20px; }

section {
  display: flex;
  flex-flow: column;
  height: 100%;
}

section p {
  margin-top: 0px;
  margin-bottom: 4px;
}

/* special definitions */

/* Excerpts */

section div.excerpt {
  display: block;
  padding: 3px 3px 3px 10px;
  margin-bottom: 5px;
  background-color: #fcfcfc;
  font-size: 0.8em;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
}

section div.stale {
  color: #999;
}

section div.excerpt > a:first-of-type {
  display:block;
  text-decoration: none;
  color: #727272;
}

section div.excerpt:hover { box-shadow: 2px 2px 5px 0 #999; }

/* Tag Cloud */

.site-tag a {
  display: inline-block;
  color: #e63;
  text-decoration: none;
}

.site-tag {
  display: inline-block;
  clear: none;
  padding: 1px 5px 2px 5px;
  margin: 1px;
  background-color: #fcfcfc;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.site-tag:hover { box-shadow: 1px 1px 2px 0 #999; }

/* LaTex */

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

/* 
classes for 12 part grid; from bijou CSS framework
http://andhart.github.io/bijou/
*/

.one{width:8%}
.two{width:16%}
.three{width:24%}
.four{width:32%}
.five{width:40%}
.six{width:48%}
.seven{width:56%}
.eight{width:64%}
.nine{width:72%}
.ten{width:80%}
.eleven{width:88%}
.twelve{width:100%}

.container{ width:1000px; margin:0 auto }
.container:after{content:"\0020"; display:block; height:0; clear:both; visibility:hidden}

header {width:24%; max-width: 270px; float: left; z-index: 8; background-color: transparent; }
section { width:72%; float: right; background: none; }
footer { width:24%; float: left; position: fixed; bottom: 20px; }

@media only screen and (min-width: 768px) and (max-width: 999px){
	.container{width:768px}
}

@media only screen and (max-width: 767px){
	.container{ width:100% }
	header, footer { text-align: center; margin: 0 auto; }
	section h2 { text-align: center; }
	section { padding-bottom: 8px; }
	header h4 { padding: 4px 10px; display: inline-block;}
	header h4.sublink { display: none; }
	header h5 { display: none; }
	header, section, footer { float: none; position: static; width: 100%; max-width: 100%; }
	header, section, #catlinks, #sitelogo  { border-bottom: 1px solid var(--site-color); }
	#tagcloud { padding: 8px; }
	#catlinks { padding: 4px; }
}
